html, body {
    height: 100%;
  }

body {
    font-family: Arial, Helvetica, sans-serif;  
    font-size: 16px;
    color: darkgrey;
    display: flex;
    flex-direction: column;
}

/*
.flex-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
*/

.content {
   flex: 1 0 auto;
   justify-content: center;
   align-items: center;
}

/* navigation flexbox */
.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    font-size: 14px;
}

/* trying to add the Google Apps icon */

.apps {
    max-width: 24px;
    height: auto;
    opacity: 0.8;
    padding-right: 20px;
}

.apps:hover {
    opacity: 1;
}


/* search box flex container */
.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
}

  a {
    display: block;
    padding: 8px;
    color: rgb(61, 61, 61);
    text-decoration: none;
  }

  a:hover {
      text-decoration: underline;
  }

  .logo {
    max-width: 272px;
    height: auto;
}

/* form styling */

form {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    justify-content: center;
}


#searchbox {
    border-radius: 20px;
    border: 1px solid lightgray;
    padding: 15px;
    width: 400px;
    margin: 20px 0px 20px 0px;
}

button {
    padding: 10px 15px 10px 15px;
    border-radius: 4px;
    border: 1px transparent;
    margin: 15px 5px 10px 5px;
    font-size: 14px;
}

button:hover {
    box-shadow: 0 1px 1px 0 darkgray;
}
/* footer styling */

.footer {
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    font-size: 14px;
}